@model IEnumerable<ProyectoParcial3.Models.Competencia>

@{
    ViewBag.Title = "Competencia";
}

<a class="btn btn-index" href="@Url.Action("Index","Docente")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Inicio  </font></span></a>

<h2>Competencias</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>