@model ProyectoParcial3.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            <a class="btn btn-index" href="@Url.Action("Index","Docente")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Inicio  </font></span></a>
        </th>
        <th>
            <a class="btn btn-index" href="@Url.Action("IndexDocente","Afirmacion")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Afirmacion  </font></span></a>
        </th>
        <th>
            <a class="btn btn-index" href="@Url.Action("IndexDocente","Competencia")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Competencia  </font></span></a>
        </th>
        <th>
            <a class="btn btn-index" href="@Url.Action("IndexDocente","Examen")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Examen  </font></span></a>
        </th>
        <th>
            <a class="btn btn-index" href="@Url.Action("IndexDocente","Opcion")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Opcion  </font></span></a>
        </th>
        <th>
            <a class="btn btn-index" href="@Url.Action("IndexDocente","Pregunta")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Pregunta  </font></span></a>
        </th>
        <th>
            <a class="btn btn-index" href="@Url.Action("IndexDocente","Programa")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Programa  </font></span></a>
        </th>
    </tr>
</table>

